# --- System & Python Junk ---
.DS_Store
__pycache__/
*.pyc
venv/

# --- The "Engine" (Hide your logic & local paths) ---
*.py
src/
scripts/
config/
config.py

# --- Raw Data (Keep the repo light) ---
data/games/
data/gameLists/
data/startEnd.csv

# --- THE ESSENTIALS (Allow only these) ---
!web/
!data/tiebreakers.json
!data/tiebreaker_grids.txt
!data/teams/
!data/logos/
!README.md
!.gitignore